body {
    background-color: black;
}

.navbar {
    background-color: rgb(101, 72, 72);
    font-family: Georgia;
    font-size: 20px;
    color: black;
    display: flex;
    padding: 0 10px;
}

.navbar ul {
    display: flex;
}

.navbar li {
    margin-right: 50px;
}

a {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
}

.header-text  {
    color: white;
    text-align: center;
    font-size: 80px;

}

.table-tag-header {
    color: white;
}

.footer-text {
    color: white;
    text-align: center;
}

#footer-link {
    text-align: center;
}